/* FILEPATH: /c:/Users/Huang wentao/Desktop/Odin-Project-demo/odin-library/styles.css */

/* Reset default styles */
body,
p {
  margin: 0;
  padding: 0;
}

body {
  background-color: wheat;
  font-family: Arial, Helvetica, sans-serif;
  margin: 40px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* Container for the book library */
#display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 5px;
}

/* Book card */
.book {
  background-color: #583c03c9;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

/* Book cover image */
.book img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

/* Book title */
.book h2 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

/* Book author */
.book p {
  font-size: 14px;
  margin-bottom: 8px;
}

button {
  border-radius: 5px;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-top: 10px;
  cursor: pointer;
}

.read {
  background-color: #4caf50;
}

.not-read {
  background-color: #d43b31;
}

.remove {
  background-color: #d43b31;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  margin: 20px auto;
  background-color: #4caf50;
  padding: 20px;
  border-radius: 5px;
}

.form input {
  margin-bottom: 10px;
  width: 100%;
}

.form label {
  color: white;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
  width: 100%;
}

.form button {
  background-color: #583c03c9;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-top: 10px;
  cursor: pointer;
}

.inline {
  display: flex;
}
